{% extends "layout.html.twig" %}

{% block title %}Event {{ event.name }}{% endblock %}

{% block content %}

<h1>Event {{ event.name }}</h1>
<h3>{{ event.description }}</h3>

<div class="row">
	<div class="col-xs-5" id="placeholder" style="width:800px;height:300px"></div>

	<div class="col-xs-4">
		<h2>Users</h2>
		<table class="table table-bordered table-striped table-condensed">
			<tr>
				<th>Username</th>
				<th>Weight in event</th>
				<th>Really payed</th>
				<th>Part</th>
				<th>Situation</th>
			</tr>
			{% for user in event.users %}
			<tr>
				<td>{{ user.username }}</td>
				<td>{{ user.weight }}</td>
				<td>{{ reallyPayed[user.id] }}</td>
				<td>{{ parts[user.id] }}</td>
				<td class="
					{% if situations[user.id] < 0 %}
						danger
					{% elseif situations[user.id] > 0 %}
						success
					{% endif %}">
				{{ situations[user.id] }}
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>

<br>

<div class="row">
	<h2>Equilibrium</h2>
	<table class="table table-striped">
		{% for debt in debts %}
			<tr>
				<td>{{ debt["from"] }} should pay {{ debt["to"] }}</td>
				<td>{{ debt["howMuch"] }}</td>
			</tr>
		{% endfor %}
	</table>
</div>

<div class="row">
	<h2>Spents</h2>
	<p><a class="btn btn-primary" href="{{ path('new_spent', { 'eventId': event.id }) }}">New spent</a></p>
	<table class="table table-bordered table-striped table-condensed">
		<tr>
			<th>Name</th>
			<th>Amount</th>
			<th>Buy date</th>
			<th>Buyer</th>
			<th>Concern</th>
			<th>Your part</th>
			<th></th>
		</tr>
		{% for spent in spents %}
		<tr>
			<td>{{ spent.name }}</td>
			<td>{{ spent.amount }}</td>
			<td>{{ spent.buyDate }}</td>
			<td>{{ spent.buyer.username }}</td>
			<td>
				{% for user in spent.users %}
					{% if loop.last %}
						{{ user.username|e }}
					{% else %}
						{{ user.username|e }},
					{% endif %}
				{% endfor %}
			</td>
			<td>
				{% if spent.users[app.user.id] is not defined %}
					0
				{% else %}
					{{ spent.users[app.user.id].part }}
				{% endif %}
			</td>
			<td><a href="{{ path('delete_spent', { 'eventId': event.id, 'spentId': spent.id }) }}">Delete</a></td>
		</tr>
		{% endfor %}
		<tr>
			<td><strong>Total</strong></td>
			<td><strong>{{ total }}</strong></td>
			<td></td>
			<td></td>
			<td></td>
			<td><strong>{{ parts[app.user.id] }}</strong></td>
		</tr>
	</table>
</div>

{% endblock %}


{% block script %}
<script src="{{ asset('/js/jquery.flot.min.js') }}"></script>

<script>
	$(function() {
		let data = [ 
			{% for user in event.users %}
				{
					data: [[{{ loop.index0 }}, {{ situations[user.id] }}]], 
					color: {% if situations[user.id] < 0 %}"red"{% else %}"green"{% endif %}
				},
			{% endfor %}
		];

		$.plot("#placeholder", data, {
			series: {
				bars: {
					show: true,
					barWidth: 0.5,
					align: "center",
					lineWidth: 0,
					fill: 1
				}
			},
			xaxis: {
				ticks: [
				{% for user in event.users %}
					[{{ loop.index0 }}, "{{ user.username }} ({{ situations[user.id] }})"],
				{% endfor %}
				]
			}
		});
	});
</script>
{% endblock %}