{% extends "layout.html.twig" %}

{% block title %}Event {{ event.name }}{% endblock %}

{% block content %}

<h1>Event {{ event.name }}</h1>
<p><a href="{{ path('new_spent', { 'eventId': event.id }) }}">New spent</a></p>
<table class="table table-bordered table-striped table-condensed">
	<tr>
		<th>Name</th>
		<th>Amount</th>
		<th>Buy date</th>
		<th>Buyer</th>
		<th>Concern</th>
		<th>Your part</th>
	</tr>
	{% for spent in spents %}
	<tr>
		<td>{{ spent.name }}</td>
		<td>{{ spent.amount }}</td>
		<td>{{ spent.buyDate }}</td>
		<td>{{ spent.buyer.username }}</td>
		<td>
			{% for user in spent.users %}
				{% if loop.last %}
					{{ user.username|e }}
				{% else %}
					{{ user.username|e }},
				{% endif %}
			{% endfor %}
		</td>
		<td>{{ spent.part }}</td>
	</tr>
	{% endfor %}
	<tr>
		<td><strong>Total</strong></td>
		<td><strong>{{ grandTotal }}</strong></td>
		<td></td>
		<td></td>
		<td></td>
		<td><strong>{{ total }}</strong></td>
	</tr>
</table>

{% endblock %}