{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>


<div class="well">
{{ form_start(eventForm, { 'attr': {'class': 'form-horizontal'} }) }}
	<div class="form-group">
		{{ form_label(eventForm.name, null, { 'label_attr':  {
			'class': 'col-sm-5 control-label'
		}}) }}
		<div class="col-sm-4">
			{{ form_errors(eventForm.name) }}
			{{ form_widget(eventForm.name, { 'attr':  {
				'class': 'form-control'
			}}) }}
		</div>
	</div>
	<div class="form-group">
		{{ form_label(eventForm.currency, null, { 'label_attr':  {
			'class': 'col-sm-5 control-label'
		}}) }}
		<div class="col-sm-4">
			{{ form_widget(eventForm.currency, { 'attr':  {
				'class': 'form-control'
			}}) }}
		</div>
	</div>
	<div class="form-group">
		{{ form_label(eventForm.users, null, { 'label_attr':  {
			'class': 'col-sm-5 control-label'
		}}) }}
		<div class="col-sm-4">
			{{ form_widget(eventForm.users, { 'attr':  {
				'class': 'form-control'
			}}) }}
		</div>
	</div>
	<div id="div_weight" class="form-group"></div>
	<div class="form-group">
		<div class="col-sm-offset-5 col-sm-3">
			<input type="submit" class="btn btn-primary" value="Save" />
		</div>
	</div>
{{ form_end(eventForm) }}
</div>
{% endblock %}


{% block script %}

<script type="text/javascript">
$("#form_users")
	.change(function() {
		$("#div_weight").empty();
		$("#form_users option:selected").each(function() {
			$("#div_weight").append('<label class="col-sm-5 control-label required" for="form_weight">' + $(this).text() + '\'s weight</label>');
			$("#div_weight").append('<div class="col-sm-4"><input id="form_weight" type="number" name="weight[' + $(this).val() + ']" value="1" min="1" />');
		});
	})
	.trigger("change");
</script>

{% endblock %}