{% extends 'layout.html.twig' %}
{% form_theme spentForm 'bootstrap_3_horizontal_layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>

<p><a href="{{ path('event', { 'eventId': eventId }) }}">Return to event</a></p>

<div class="well">
{{ form_start(spentForm) }}
	{{ form_row(spentForm.name) }}
	{{ form_errors(spentForm.name) }}
	{{ form_widget(spentForm.name) }}

	{{ form_row(spentForm.amount) }}
	{{ form_errors(spentForm.amount) }}
	{{ form_widget(spentForm.amount) }}

	{{ form_row(spentForm.buyDate) }}
	{{ form_errors(spentForm.buyDate) }}
	{{ form_widget(spentForm.buyDate) }}

	{{ form_row(spentForm.buyer) }}
	{{ form_errors(spentForm.buyer) }}
	{{ form_widget(spentForm.buyer) }}

	{{ form_row(spentForm.users) }}
	{{ form_errors(spentForm.users) }}
	{{ form_widget(spentForm.users) }}

	<div class="form-group">
		<div class="col-sm-offset-5 col-sm-3">
			<input type="submit" class="btn btn-primary" value="Save" />
		</div>
	</div>
{{ form_end(spentForm) }}
</div>
{% endblock %}