{% extends 'layout.html.twig' %}
{% form_theme eventForm 'bootstrap_3_horizontal_layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>



<div class="well">
{{ form_start(eventForm) }}
	{{ form_row(eventForm.name) }}
	{{ form_errors(eventForm.name) }}
	{{ form_widget(eventForm.name) }}

	{{ form_row(eventForm.description) }}
	{{ form_errors(eventForm.description) }}
	{{ form_widget(eventForm.description) }}

	{{ form_row(eventForm.currency) }}
	{{ form_errors(eventForm.currency) }}
	{{ form_widget(eventForm.currency) }}

	{{ form_row(eventForm.users) }}
	{{ form_errors(eventForm.users) }}
	{{ form_widget(eventForm.users) }}
	
	<div id="div_weight" class="form-group"></div>
	
	<div class="form-group">
		<div class="col-sm-offset-5 col-sm-3">
			<input type="submit" class="btn btn-primary" value="Save" />
		</div>
	</div>
{{ form_end(eventForm) }}
</div>
{% endblock %}


{% block script %}

<script type="text/javascript">
$(function() {
	let select_user = $("option:contains({{ app.user.username }})").attr('selected', 'selected');
	$("#div_weight").append('<label class="col-sm-5 control-label required" for="form_weight">' + select_user.text() + '\'s weight</label>');
	$("#div_weight").append('<div class="col-sm-4"><input id="form_weight" type="number" name="weight[' + select_user.val() + ']" value="1" min="1" />');
});

$("#form_users").change(function() {
	$("#div_weight").empty();
	$("#form_users option:selected").each(function() {
		$("#div_weight").append('<label class="col-sm-5 control-label required" for="form_weight">' + $(this).text() + '\'s weight</label>');
		$("#div_weight").append('<div class="col-sm-4"><input id="form_weight" type="number" name="weight[' + $(this).val() + ']" value="1" min="1" />');
	});
}).trigger("change");
</script>

{% endblock %}